
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="form">
    <span class="title">Login</span>
    <form action="#">
        <div class="input-field">
            <input type="text" placeholder="Enter your Email" required="" />
            <i class="uil uil-envelope icon"></i>
        </div>
        <div class="input-field">
            <input type="password" class="password" placeholder="Enter your Password" required="" />
            <i class="uil uil-lock icon"></i>

        </div>

        <div class="checkbox-text">
            <div class="checkbox-content">
                <input type="checkbox" id="logCheck" />
                <label for="logCheck" class="text">Remember me</label>
            </div>
            <a href="#" class="text">Forgot password?</a>
        </div>

        <div class="input-field button">
            <input type="button" value="Login Now" required="" />

        </div>
    </form>

    <div class="login-sigup">
        <span class="text">
            Not a member?
            <a href="#" class="text signup-text"></a>
        </span>
    </div>
</div>


<!--Registration Form-->
<div class="form">
    <span class="title">Registration</span>
    <form action="#">
        <div class="input-field">
            <input type="text" placeholder="Enter your Name" required="" />
            <i class="uil uil-user"></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Enter your Email" required="" />
            <i class="uil uil-envelope icon"></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Enter your Phone number" required="" />
            <i class="uil uil-phone icon"></i>
        </div>
        <div class="input-field">
            <input type="password" class="password" placeholder="Enter your Password" required="" />
            <i class="uil uil-lock icon"></i>

        </div>
        <div class="input-field">
            <input type="password" class="password" placeholder="Enter your Password" required="" />
            <i class="uil uil-lock icon"></i>

        </div>

        <div class="checkbox-text">
            <div class="checkbox-content">
                <input type="checkbox" id="logCheck" />
                <label for="logCheck" class="text">Remember me</label>
            </div>
            <a href="#" class="text">Forgot password?</a>
        </div>

        <div class="input-field button">
            <input type="button" value="Login Now" required="" />

        </div>
    </form>

    <div class="login-sigup">
        <span class="text">
            Not a member?
            <a href="#" class="text signup-text"></a>
        </span>
    </div>
</div>

